<div class="hero-unit">
  <a style="float: left; padding-right: 30px;">
    <img title="{{ page.title }} image" src="{{ page.image }}">
  </a>
  <h2>{{ page.title }}</h2>
  <p>{{ content }}</p>
</div>

      <div class="row">
        <div class="span4">
          <h3>Blog</h3>
		{% assign pages_list = site.categories.blog %}
            	{% include JB/pages_list %}
          <p><a class="btn" href="/blog">More »</a></p>
        </div>
        <div class="span4">
          <h3>Articles and Talks</h3>
           {% assign pages_list = site.categories.articles %}
            {% include JB/pages_list %}
          <p><a class="btn" href="/articles">More »</a></p>
       </div>
        <div class="span4">
	<h3>Contact</h3>
	{{ page.contact }}
          <p><a class="btn" href="/contact/#email">Email »</a></p>
        </div>
      </div>
      <hr>

